[Desktop Entry]
Version=1.0
Name=oac-tree Operation
Comment=Integrated development environment for oac-tree procedures
Categories=Development
Type=Application
Terminal=false
Icon=org.iter.sequencer.sequencer-operation
Exec=sequencer-operation
